{
 ;; :xtdb-node-type "mem"
 :xtdb-index-store "mem" ; "rocksdb"
 :xtdb-checkpointer-enabled false
 :xtdb-node-type "jdbc"
 :xtdb-jdbc-dbtype "postgresql"
 :xtdb-jdbc-dbname "xtdb_db"
 :xtdb-jdbc-host "localhost"
 :xtdb-jdbc-user "xtdb"
 :xtdb-jdbc-password "pwd"
 :xtdb-jdbc-port "15432"
 }