{
 :paths ["src"]

 :deps
 {org.clojure/clojure {:mvn/version "1.10.3"}
  com.xtdb/xtdb-http-server {:mvn/version "1.20.0"}}

 :aliases
 {
  :build {:deps {io.github.seancorfield/build-clj
                 {:git/tag "v0.8.0" :git/sha "9bd8b8a"}}
          :ns-default build}}}